data/
*.tif
*.btf
*.tar
*.h5

# Extensões específicas de Bioinformática/Grandes volumes
*.tif
*.btf
*.tar
*.tar.gz
*.h5
*.parquet
*.cloupe
*.html

# Arquivos gerados pelo tutorial do Scverse/SpatialData
*.zarr/
.ipynb_checkpoints/